In [1]:
#Importing the libraries that I will need to process and clean my data in order to create a well-structured DataFrame for my movie recommendation app.

import pandas as pd   
import numpy as np

#Reading my movies_metadata.csv file into a DataFrame.
movies_metadata = pd.read_csv('movies_metadata.csv')   

print(movies_metadata.columns) #I want to see the exact names of the columns in my movies_metadata DataFrame.

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

C:\Users\vanes\AppData\Local\Temp\ipykernel_13708\1553191116.py:3: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
num_rows, num_columns = movies_metadata.shape  #Using the shape attribute to figure out how many rows and columns my DataFrame has. The first element shows the number of rows and the second shows the number of columns. 
print(num_rows,num_columns) 

movies_metadata.head()  #Looking at the first five rows of the movies_metadata DataFrame.

998 24

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173

In [3]:
#In this step I want to drop some of the columns that will not further be of use.

#First I want to create a copy of the original movies_metadata DataFrame because it might be that I will need it later in my analysis again.              The copy of movies_metadata is called df. On this new DataFrame I will perform different operations, leaving the original DataFrame unchanged.

df = movies_metadata.copy()

#In the next step I am performing the deletion of some of the columns. The axis=1 specifies that the operation should be performed on columns, not rows. The inplace=True modifies the 'df' DataFrame directly and not the original DataFrame movies_metadata.


df.drop(['adult','belongs_to_collection','budget','homepage','imdb_id','poster_path','production_companies','production_countries','revenue','runtime','spoken_languages','status','tagline','title','video','original_language','popularity','vote_average', 'vote_count'], axis=1, inplace=True)

#After running this code, 'df' will be a DataFrame with the specified removed columns, while the original movies_metadata DataFrame remains unchanged.

print(df.columns)  #I want to see the exact names of the columns in my 'df' DataFrame.

Index(['genres', 'id', 'original_title', 'overview', 'release_date'], dtype='object')

In [4]:
num_rows,num_columns = df.shape   #Using the shape attribute to figure out how many rows and columns my DataFrame has. The first element shows the number of rows and the second shows the number of columns.
print(num_rows,num_columns)

df.head()    #Looking at the first five rows of the 'df' DataFrame.

998 5

,genres,id,original_title,overview,release_date
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,Toy Story,"Led by Woody, Andy's toys live happily in his ...",1995-10-30
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,Jumanji,When siblings Judy and Peter discover an encha...,1995-12-15
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,1995-12-22
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",1995-12-22
4,"[{'id': 35, 'name': 'Comedy'}]",11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,1995-02-10

In [ ]:
#Now I can see that my 'df' DataFrame has 5 columns. The amount of rows stays the same as in the original DataFrame (998).

In [5]:
#In this step I want to limit my 'df' DataFrame to only the first 100 rows.

df = df.iloc[:100]   
#The df.iloc[:] accesses the rows in the 'df' DataFrame.
#iloc is used to select data by row or column number. 
# :100 this part selects the first 100 rows (does not include the 100th row).

In [6]:
num_rows,num_columns = df.shape
print(num_rows,num_columns)

100 5

In [ ]:
#So here we see that we have only 100 rows left. I chose to do that just so things will be easier to overview.

In [7]:
#Now I want to modify the genre column so that it only contains the name of the first genre. 

#I select the genre column and the first row just to see its content. 
first_genre = df['genres'].iloc[0]
print(first_genre)

[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]

In [8]:
#Here I see that the content of the genres column is in a string format which looks like Python dictionaries (but they are not 'real' dictionaries). So the first thing I need to do in order to be able to extract the first genre name, is to convert the strings into a Python list of dictionaries. 

import json   
#I import the json library since this can convert the strings into Python objects (list of dictionaries).

def get_first_genre_name(genre_string):    #This function takes one parameter 'genre_string', which is like a placeholder for my actual data that will be used when I call the function. So each genre string from each row will be passed into my 'get_first_genre_name' function.
    try: #I chose to have error handling in this function because I have alot of data and something could go wrong, so I want to be sure to handle it.   
        genre_list = json.loads(genre_string.replace("'", "\""))   #The genre_list is a string(text) from my 'df' DataFrame's genres column. What I am doing in this part of the code is to change the single ' to double " quotes because the json format needs to have double quotes to be able to convert the text to Python dictionaries.
        return genre_list[0]['name'] if genre_list else None  #Here I choose the first item (dictionary) from the 'genre_list' (that is why the [0]). Then I take the value of the key 'name' in that first dictionary. The last part 'if genre_list else None' will return 'None' if genre_list is empty.
    except: #This code will only be executed should there be a 'problem' like for example that there is an error in the processing of a genre string. So should that happen, the function will return 'None' for that particular row.
        return None
    
df['genres'] = df['genres'].apply(get_first_genre_name)  #This line applies my function 'get_first_genre_name' to every row in the 'genres' column.

In [9]:
df.head()  #I wanted to see if it worked. And yes it did :).

,genres,id,original_title,overview,release_date
0,Animation,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...",1995-10-30
1,Adventure,8844,Jumanji,When siblings Judy and Peter discover an encha...,1995-12-15
2,Romance,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,1995-12-22
3,Comedy,31357,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",1995-12-22
4,Comedy,11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,1995-02-10

In [10]:
#Now I want to change the column name 'original_title' to just 'title'.

df = df.rename(columns={'original_title': 'title'})

In [11]:
df.head()  #Just checking.

,genres,id,title,overview,release_date
0,Animation,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...",1995-10-30
1,Adventure,8844,Jumanji,When siblings Judy and Peter discover an encha...,1995-12-15
2,Romance,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,1995-12-22
3,Comedy,31357,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",1995-12-22
4,Comedy,11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,1995-02-10

In [12]:
#Now I want to merge the 'df' DataFrame with the data from my ratings.csv file so that I get one new DataFrame with which I can work to create my recommendation application. 

ratings_df = pd.read_csv('ratings.csv')   #This line reads the ratings.csv file and creates a DataFrame called ratings_df.

merged_df = df.merge(ratings_df, left_on='id', right_on='movieId', how='inner')  #In this line I assign the result of the merging operation to a new DataFrame which I name 'merged_df'. So what happens is that the two DataFrames 'df' and 'ratings_df' get merged and a new DataFrame will be created. The parameters left_on='id' and right_on='movieId' specify that the id column from the df DataFrame should be matched with the movieId column from the ratings_df DataFrame. The how parameter means that I will merge those two DataFrames with an inner join. If there are any rows without a match, they will be excluded from the result.

merged_df.drop('movieId', axis=1, inplace=True)  #Here I am dropping the movieId column after merging the two DataFrames since the two columns contain the same data information. The axis=1 parameter specifies that I want to drop a column not a row and the inplace=True parameter makes changes directly to the merged_df DataFrame without creating a new copy (it makes changes to itself).

In [13]:
merged_df

,genres,id,title,overview,release_date,userId,rating,timestamp
0,Action,949,Heat,"Obsessive master thief, Neil McCauley leads a ...",1995-12-15,23,3.5,1148721092
1,Action,949,Heat,"Obsessive master thief, Neil McCauley leads a ...",1995-12-15,102,4.0,956598942
2,Action,949,Heat,"Obsessive master thief, Neil McCauley leads a ...",1995-12-15,232,2.0,955092697
3,Action,949,Heat,"Obsessive master thief, Neil McCauley leads a ...",1995-12-15,242,5.0,956688825
4,Action,949,Heat,"Obsessive master thief, Neil McCauley leads a ...",1995-12-15,263,3.0,1117846575
...,...,...,...,...,...,...,...,...
322,Drama,880,Antonia,"After World War II, Antonia and her daughter, ...",1995-09-12,624,1.5,1170357662
323,Drama,880,Antonia,"After World War II, Antonia and her daughter, ...",1995-09-12,646,2.0,953448670
324,Drama,880,Antonia,"After World War II, Antonia and her daughter, ...",1995-09-12,659,2.0,854359234
325,Drama,8447,Angels and Insects,"In Victorian England, wealthy patriarch Sir Ha...",1995-09-10,624,1.0,1087150729
326,Crime,2086,Nick of Time,Gene Watson is a public accountant who arrives...,1995-11-22,4,5.0,949896114

In [14]:
num_rows,num_columns = merged_df.shape
print(num_rows, num_columns)

327 8

In [15]:
#Now I want to save my current merged_df DataFrame so that I can access it even after making changes or mistakes.

#Here I save the DataFrame to a csv file.

merged_df.to_csv('merged_data.csv', index = False) #With the index=False parameter I want to remove the index column to have a neater and simpler dataset without extra numbering.

In [16]:
#Now I want to delete the timestamp column in the merged_df DataFrame and also delete the timestamp column in the merged_data.csv file.

merged_df.drop('timestamp', axis = 1, inplace = True) #I use the drop method to remove the timestamp column. The parameter axis = 1 indicates that I want to drop a column, not a row. I use the inplace=True parameter so that the merged_df DataFrame gets modified directly without having to create a new DataFrame to store the result. 
merged_df.to_csv('merged_data.csv', index = False) #Here I use the to_csv method to save the DataFrame merged_df as a csv file which I named merged_data.csv. The part with index=False means that it will not include the index column when saving to the csv file.

In [17]:
merged_df.head() #Just checking on my DataFrame (first five rows).

,genres,id,title,overview,release_date,userId,rating
0,Action,949,Heat,"Obsessive master thief, Neil McCauley leads a ...",1995-12-15,23,3.5
1,Action,949,Heat,"Obsessive master thief, Neil McCauley leads a ...",1995-12-15,102,4.0
2,Action,949,Heat,"Obsessive master thief, Neil McCauley leads a ...",1995-12-15,232,2.0
3,Action,949,Heat,"Obsessive master thief, Neil McCauley leads a ...",1995-12-15,242,5.0
4,Action,949,Heat,"Obsessive master thief, Neil McCauley leads a ...",1995-12-15,263,3.0

In [18]:
merged_df.tail() #Just checking on my DataFrame (last five rows)

,genres,id,title,overview,release_date,userId,rating
322,Drama,880,Antonia,"After World War II, Antonia and her daughter, ...",1995-09-12,624,1.5
323,Drama,880,Antonia,"After World War II, Antonia and her daughter, ...",1995-09-12,646,2.0
324,Drama,880,Antonia,"After World War II, Antonia and her daughter, ...",1995-09-12,659,2.0
325,Drama,8447,Angels and Insects,"In Victorian England, wealthy patriarch Sir Ha...",1995-09-10,624,1.0
326,Crime,2086,Nick of Time,Gene Watson is a public accountant who arrives...,1995-11-22,4,5.0

In [19]:
#I want to remove any rows where there is at least one  missing.

merged_df.dropna(inplace = True) #With this code I am removing any rows with missing data directly in my merged_df DataFrame without creating a new DataFrame. So the changes are not made in a copy of my merged_df DataFrame.

In [20]:
#Now I want to see how many rows are left.

rows, columns = merged_df.shape
print(rows, columns)

327 7

In [21]:
#So here I see that there were no rows with missing data, since there are still 327 rows left, just like before. 

#Now I want to remove duplicates.

merged_df = merged_df.drop_duplicates() #With the drop_duplicates method I check the DataFrame for any rows that are same. If any duplicates are found, only the first occurrence of the duplicate row will be kept and the others will be removed. because of this I will only have unique rows in my DataFrame.

rows, columns = merged_df.shape
print(rows, columns)

327 7

In [ ]:
#And again, I see that there were no duplicates in the DataFrame because I still have 327 rows, so nothing has changed.

In [22]:
merged_df.dtypes   #Checking the data types of all columns.

genres           object
id                int64
title            object
overview         object
release_date     object
userId            int64
rating          float64
dtype: object

In [23]:
#I want to change the data type of the column release_date, which is currently an object (in pandas it means it is a string), to datetime format. The other columns I will leave like this because their data types are good for what I need in my later use. 


merged_df ['release-date'] = pd.to_datetime(merged_df['release_date'])

In [24]:
print(merged_df.dtypes) #Checking if it worked. I see that I accidentally created a new release_date column. So now I have to drop that newly created column from my DataFrame.

genres                  object
id                       int64
title                   object
overview                object
release_date            object
userId                   int64
rating                 float64
release-date    datetime64[ns]
dtype: object

In [25]:
#Now I will remove the accidentally created column.
merged_df.drop(columns = ['release-date'], inplace = True)

In [26]:
print(merged_df.dtypes) #Checking if the column has been deleted and if the original release_date column's data type is still the same as before (string).

genres           object
id                int64
title            object
overview         object
release_date     object
userId            int64
rating          float64
dtype: object

In [27]:
#Now I will try to change the data type of release_date column again, using another approach. 


merged_df['release_date'] = merged_df['release_date'].apply(lambda x: pd.to_datetime(x))  #In this code I am first referring to the column release_date in my merged_df DataFrame, because that is where I want to make changes. The apply() is used to apply another function, in this case the lambda function. The lambda function is a small unnamed function and x represents each individual element in the release_date column. The next part which is pd.to.datetime(x) converts x (each date in the release_date column) from string to datetime format.

In [28]:
print(merged_df.dtypes)

genres                  object
id                       int64
title                   object
overview                object
release_date    datetime64[ns]
userId                   int64
rating                 float64
dtype: object

In [29]:
#In this step I want to clean my DataFrame by removing punctuations and special characters in these three columns: genres, title and overview (because it is text data).

import re #In order to make it work I need the Regular expression library ( standard library in Python) which is used to remove special characters and punctuation from text. 

merged_df['genres'] = merged_df['genres'].str.lower()
merged_df['title'] = merged_df['title'].str.lower()
merged_df['overview'] = merged_df['overview'].str.lower()

#Here I am converting the string to lowercase.

merged_df['genres'] = merged_df['genres'].apply(lambda x: re.sub(r'[^a-zA-Z0-9\s]', '', x))
merged_df['title'] = merged_df['title'].apply(lambda x: re.sub(r'[^a-zA-Z0-9\s]', '', x ))
merged_df['overview'] = merged_df['overview'].apply(lambda x: re.sub(r'[^a-zA-Z0-9\s]', '', x ))

#Here I am removing any characters in the genres, title and overview columns that are not letters or digits (0-9). It will also remove whitespace characters (line breaks, spaces, tabs).

In [30]:
print(merged_df['genres'].head())  #Just checking if the string is lowercase now.

0    action
1    action
2    action
3    action
4    action
Name: genres, dtype: object

In [31]:
print(merged_df['overview'].head()) #Checking that special characters and punctuations are gone. And here I see that there are no commas for example left in the overview text. So it worked.

0    obsessive master thief neil mccauley leads a t...
1    obsessive master thief neil mccauley leads a t...
2    obsessive master thief neil mccauley leads a t...
3    obsessive master thief neil mccauley leads a t...
4    obsessive master thief neil mccauley leads a t...
Name: overview, dtype: object

In [32]:
#Now in my last step I want to save my merged_df DataFrame as a csv file using the to_csv method. I was thinking instead of saving it and creating a new csv file, to instead just overwrite the existing merged_data-csv file, but I do not want to take the risk. 

merged_df.to_csv('final__cleaned_data.csv',index = False )

In [33]:
#Now I will check if it worked.

final_df = pd.read_csv('final__cleaned_data.csv')

print(final_df.head())

   genres   id title                                           overview  \
0  action  949  heat  obsessive master thief neil mccauley leads a t...
1  action  949  heat  obsessive master thief neil mccauley leads a t...
2  action  949  heat  obsessive master thief neil mccauley leads a t...
3  action  949  heat  obsessive master thief neil mccauley leads a t...
4  action  949  heat  obsessive master thief neil mccauley leads a t...

  release_date  userId  rating
0   1995-12-15      23     3.5
1   1995-12-15     102     4.0
2   1995-12-15     232     2.0
3   1995-12-15     242     5.0
4   1995-12-15     263     3.0

In [34]:
print(final_df.shape)

(327, 7)